:root {
    --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );

    --gradient-2: linear-gradient(
    45deg,
    #6ac8f3,
    #4bbff3,
    #00a4ff
    );
}

@keyframes bg-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
}

html {

}

body {
    font-family: Arial, sans-serif;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite;
}


.button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    width: 200px;
}

/*
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
*/

.errormessage{
    color: #9f0202;
    font-weight: bold;
    display: block;
}

.successmessage{
    color: #17c200;
    font-weight: bold;
    display: block;
}

input {
    display:block;
    width:100%;
    margin:10px 0;
    padding:10px;
}

.inputfield {
    border-radius:10px;
    border: 1px solid #eee;
}

/*
.inputfield{
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background-color: #e3e3e3;
    text-align: left;
}
 */

form{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

[data-tip] {
    position:relative;

}

[data-tip]:before {
    content:'';
    /* hides the tooltip when not hovered */
    display:none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position:absolute;
    top:49px;
    left:35px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}

[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:54px;
    left:0;
    padding:5px 8px;
    background:#1a1a1a;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}

[data-tip]:hover:before, [data-tip]:hover:after {
    display:block;
}

@media only screen and (max-width: 820px) {
    /*
    Hier CSS nur für iPad Air einfügen
     */
}

@media only screen and (max-width: 390px) {
    /*
    Hier CSS nur für iPhone 12 Pro einfügen
     */
}
