:root {
    --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
}

html {
    height: 100%
}

body {
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite;
}