body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerFormOuter {
    margin: 0;
    position: absolute;
    top: 25vh;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 450px;
    min-height: 600px;
    min-width: 450px;
    background-image: var(--gradient-2);
    background-size: 300%;
    animation: bg-animation 25s infinite;
    border-radius: 25px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#registerFormInner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -3vh;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#registerHeading {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: -5%;
}

@media only screen and (max-width: 820px) {
    /*
    Hier CSS nur für iPad Air einfügen
     */
}

@media only screen and (max-width: 390px) {
    /*
    Hier CSS nur für iPhone 12 Pro einfügen
     */
    #registerFormOuter {
        margin: 0;
        position: absolute;
        top: 2vh;
        justify-content: center;
        align-items: center;
        height: 1100px;
        width: 350px;
        min-height: 1100px;
        min-width: 350px;
        background-image: var(--gradient-2);
        background-size: 300%;
        animation: bg-animation 25s infinite;
        border-radius: 25px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    }
}

